/* What's up? */

@keyframes zoom {
    0% /* from */ {
        transform: scale(1);
    
    }
    70% {
        transform: scale(2)
    }

    100% /* to */ {
        transform: scale(1.5);
    }
}

html {
    box-sizing: border-box; 
}
*, *: before, *:after {
    box-sizing: inherit;
}

html, body {
    /* single value for all 4 sides */
    padding: 0; 
    margin: 0;
    
}

body {
    /* outline: 1px solid blue; */
}

.header-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* h1   */
/* id: #logo-text */
.logo-text {
    color: rgba(0, 0, 0, 0.9); 
    font-size: 26px;
    display: inline-block;
    /* outline: 1px solid red; ....outline does not take up space and border does */
    /* background-color: yellow; */
    margin-right: 20px;
    margin-left: 20px;
}

.nav-container {
    display: inline-block;
    /* outline: 1px solid blue; */
    margin-right: 8px;
}

.nav-link { 
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 8px;
    font-size: 18px;
}

.hero-image {
    /* Because the image is in a different folder,
    must use ../images/ before the file name. */
    background-image: url(../images/IMG_1146.JPG);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 500px;
    min-width: 100%;
}

.hero-text {
    font-family: 'Rubik', sans-serif;
    color: rgb(104, 208, 240);
}

/* Flexbox! */
.center-center {
    display: flex; 
    justify-content: center; /* adjusting main axis(x)*/
    align-items: center; /* adjusting cross axiz(y) */
}

.about-me {
    /* outline: 1px solid red; */
    padding: 12px 10px;

}

/* .about-me p {
    margin: 0 auto;
} */

/* container determines max size */
.profile-image {
    /* outline: 1px solid red; */
    width: 350px;
    margin: 0 auto;
    padding-top: 0 10px;
}
/* img adapts to container */
.profile-image img {
    width: 100%;
    border-radius: 50%;
}

.contact-links {
    /* outline: 1px solid red; */
    background-color: floralwhite;
    padding: 12px 12px;
    display: flex;
    justify-content: center;

}

.contact-links a {
    /* outline: 1px solid cornflowerblue; */
    margin: 0px 18px;
}

.contact-links a:hover {
    cursor: pointer;
}

.contact-links a:hover .fab
/* .contact-links a:active .fab    */
{
    color: grey;
    /* font-size: 30px; */
    /* transform: scale(1.3); */
    animation-name: zoom; 
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.contact-links .fab {
    color: rgb(96, 192, 236);
    font-size: 24px;
    /* transition: font-size .5s, color: red; */
    /* transition: tranform .25s; */
}

/*
Responsive Web Design Inplementation
A.K.A. Media Queries!
if/else statements for CSS
*/

/* Common "breakpoints" 

500px
768px
1024px
1200px
1400

*/

@media screen and (min-width: 400px) {
    .header-text {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .profile-image {
        /* outline: 1px solid red;  */
        width: 250px;
        /* padding-top: 10px; */
    }   
    .about-me {
        display: flex;
        /* flex-direction: row; */
    }
    /* "Direct child" selector */
    .about-me > div
    {

    }
    .about-me-container {
        /* outline: 1px solid red; */
        width: 70%;
        padding-right: 18px;

    }
}

@media screen and (min-width: 900px) {
    .hero-text {
        /* outline: 1px solid red;  */
        font-size: 48px;
    }

    .header-text {
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    .header-text > * { 
        /* outline: 1px solid red; */
    }

    .header-text > nav {
        display: none;
    }
} 

